@page "/SongTable"

@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment env




@if (SongList == null)
{
    <em>Loading...</em>
}
else if (!SongList.Any())
{
    <br/>
    <em>No songs found.</em>
}
else
{
    <div class="table-responsive" style="margin-bottom: 151px" >
    <table class="table">
        <thead>

        <tr>
            <th> </th>
            <th>Title</th>
            <th>Duration</th>
            <th>Album</th>
            <th>Artist</th>
            <th>Release Date</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var song in SongList)
        {
            <tr>
                <td>

                    <AuthorizeView Policy="MustBeLoggedIn">
                        <button class="mr-4 oi oi-plus btn-outline-dark" @onclick="() => AddSongToPlaylist(song)"/>
                    </AuthorizeView>


                    @if (CurrentSong != null && CurrentSong.Id == song.Id)
                    {
                        if (IsPlaying())
                        {
                            <button class="oi oi-media-pause btn-outline-dark" @onclick="() => TogglePlay()"/>
                        }
                        else
                        {
                            <button class="oi oi-media-play btn-outline-dark" @onclick="() => TogglePlay()"/>
                        }
                    }
                    else
                    {
                        <button class="oi oi-media-play btn-outline-dark" @onclick="() => PlaySong(song)"/>
                    }

                </td>

                <td>@song.Title</td>
                <td>@songDurationDisplay(song)</td>
                <td>@song.Album.Title</td>
                <td>@generateArtists(song)</td>
                <td>@song.ReleaseYear</td>
                <td>
                    <button class="btn btn-outline-dark" @onclick="@(() => remove(song))">
                        <i class="oi oi-trash" style="color:red"/>
                    </button>
                </td>
            </tr>
        }
        </tbody>
    </table> 
    </div>

}